#container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.inputstyle{
   display: flex;
   gap: 10px;
}

input{
   width: 100%;
   border: 1px solid #000000;
   border-radius: 5px;
   outline: none;
   height: 20px;
}