#container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

form{
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.formvehicledata{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 50px;
}
label{
   margin-bottom: 10px;
}

.inputstyle{
   display: flex;
   gap:10px;
}
.datastyle{
   display: flex;
   flex-direction: column;
   
}

input{
   width: 100%;
   border: 1px solid #000000;
   border-radius: 5px;
   outline: none;
   height: 20px;
   margin-bottom: 10px;
}

input[type="file"] {
   width: 70%;
}

.photo{
   
}
input[type="submit"]{
   width: 20%;
   align-self: center;
   margin: 20px 0;
}
